.container {
  display: block;
  min-width:100%;
  height: 100vh;
  background: url('../assets/images/background-which.png') no-repeat center center fixed; 
  background-size: cover;
}

.home {
  position: absolute;
  right: 0%;
  top:3.7%;
  display: inline-block;
  background-color: yellow;
  min-width: 6%;
  min-height: 5.1%;
}

.powerAhead {
  position: absolute;
    right: 10.5%;
    top: 9.6%;
  display: inline-block;
  background-color: blue;
  min-width: 14%;
  min-height: 5.1%;
}

.productInformation {
  position: absolute;
  right: 27.8%;
  bottom:1.1%;
  display: inline-block;
  background-color: yellow;
  min-width: 16%;
  min-height: 3%;
}